.wrapper_brands {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.list_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.list_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_firm {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 13px;
  cursor: pointer;
}

.list_second {
  margin-left: 160px;
}

.product_image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.carousel-block {
  height: 600px;
}

.logo_product {
  margin-top: 400px;
}
@media (max-width: 1920px) {
  .image_block {
    width: 977px;
  }
}

@media (max-width: 1625px) {
  .product_image {
    width: 750px;
  }
  .image_block {
    width: 866px;
  }
}

@media (max-width: 1500px) {
  .product_image {
    width: 680px;
  }
  .image_block {
    width: 796px;
  }
}

@media (max-width: 1425px) {
  .item_firm {
    font-size: 14.5px;
    font-weight: 500;
  }

  .list_second {
    margin-left: 0px;
  }
  .list_block {
    margin-left: 200px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin-top: 0;
  }
}

@media (max-width: 1250px) {
  .list_block {
    margin-left: 100px;
  }
}

@media (max-width: 1130px) {
  .list_block {
    margin-left: 70px;
  }
}
