.wrapper_brands {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.item_firm {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 13px;
  cursor: pointer;
  break-inside: avoid;
}

.product_image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.mobile_list {
  display: none;
}
.text_selected {
  display: none;
}
.carousel-block {
  height: 600px;
}

.logo_product {
  margin-top: 400px;
}

.list_first {
  margin-top: 200px;
  margin-left: 40px;
  display: flex;
}

.ul_list_first {
  flex-wrap: wrap;
  columns: 2;
  column-gap: 180px;
}

.hover-text {
  position: absolute;
  margin-left: 10px;
}

@media (max-width: 1920px) {
  .image_block {
    width: 977px;
  }
}

@media (max-width: 1670px) {
  .product_image {
    margin-top: -12px;

    width: 750px;
    height: 900px;
  }
  .image_block {
    width: 862px;
  }
}

@media (max-width: 1625px) {
  .product_image {
    width: 680px;
  }
  .image_block {
    width: 793px;
  }
}

@media (max-width: 1500px) {
  .product_image {
    width: 680px;
    height: 850px;
  }
  .logo_product {
    margin-top: 320px;
  }
  .item_firm {
    font-size: 15px;
  }
  .image_block {
    width: 796px;
  }
  .ul_list_first {
    column-gap: 160px;
  }
}

@media (max-width: 1425px) {
  .item_firm {
    font-size: 13px;
    font-weight: 500;
  }
  .ul_list_first {
    column-gap: 130px;
  }
}

@media (max-width: 1320px) {
  .product_image {
    width: 620px;
    height: 850px;
  }
  .logo_product {
    margin-top: 320px;
  }
  .image_block {
    width: 734px;
  }
  .ul_list_first {
    column-gap: 120px;
  }
}

@media (max-width: 1250px) {
  .carousel-block {
    display: none;
  }
  .hover-text {
    display: none;
  }
  .text_selected {
    display: block;
    cursor: pointer;
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: underline;
    position: absolute;
    font-size: 18px;
  }
  .product_image {
    width: 620px;
    height: 900px;
  }
  .image_block {
    width: 735px;
  }
  .wrapper_brands {
    flex-direction: column;
    height: auto;
  }

  .list_first {
    margin-top: 40px;
    margin-left: 0;
  }

  .ul_list_first {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 0;
  }

  .item_firm {
    margin-left: 15px;
    font-size: 18px;
  }

  .product_image {
    position: relative;
    margin-top: 40px;
    width: 850px;
    object-fit: contain;
  }
  section.image_block {
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .logo_product {
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .product_image {
    width: 650px;
    height: 800px;
  }
}

@media (max-width: 720px) {
  .product_image {
    width: 500px;
    height: 600px;
  }
  .carousel-block {
    height: 440px;
  }
}

@media (max-width: 530px) {
  .logo_product {
    width: 100px;
    height: 35px;
  }
  .product_image {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 430px) {
  .logo_product {
    width: 100px;
    height: 35px;
  }
  .product_image {
    width: 350px;
    height: 450px;
  }
  .carousel-block {
    height: 400px;
  }
}
