.main_wrapper_cart {
  padding: 40px;
  min-height: 100vh;
  height: auto;
}

.cart_routing_title {
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  cursor: default;
  overflow: hidden;
}

.cart_title_main {
  font-family: Helvetica Neue;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 30px;
  overflow: hidden;
}

.line_in_cart {
  width: 953px;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 1);
  margin-bottom: 24px;
  margin-top: 24px;
}

.product_content_in_cart {
  width: 55%;
  align-self: flex-start;
}

.description_to_order_cart {
  width: 40%;
  margin-top: 25px;
  align-self: flex-start;
  cursor: default;
}

.cart_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.item_product_in_cart {
  display: flex;
}

.line_first_in_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description_block_in_cart {
  width: 100%;
  margin-left: 20px;
}

.product_name_in_cart {
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 8px;
  max-width: 65%;
  cursor: default;
}

.delete_button_in_cart {
  font-family: Helvetica Neue;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  color: var(--Black, rgba(0, 0, 0, 1));
  cursor: pointer;
  width: 15%;
  text-transform: uppercase;
}

.size_block_in_cart {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 27px;
}

.button_and_size_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 20%;
}

.buttons_block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.minus,
.plus {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  cursor: pointer;
  color: gray;
  overflow: hidden;
  height: auto;
}

.title_price_in_cart {
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
  margin-top: 20px;
  cursor: default;
  overflow: hidden;
}

.size_label {
  margin-top: 20px;
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  cursor: default;
  color: gray;
}

.value_of_size {
  width: 30px;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  overflow: hidden;
}

.price_block_in_cart {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container_sizes_block {
  display: flex;
  width: 97%;
}

.line_order_block {
  width: 645px;
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 1);
}

.block_final_amount {
  cursor: default;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_receipt {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
}

.title_summ {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
}

.block_final_delivery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.title_delivery {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  overflow: hidden;
}

.title_post {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  height: auto;
  overflow: hidden;
}

.amount_in_general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.title_in_general {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  overflow: hidden;
}

.final_amount {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
}

.checkout_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.go_to_checkout {
  margin-top: 48px;
  cursor: pointer;
  width: 646px;
  height: 43px;
  background: #000;
  color: white;
  font-size: 16px;
  font-family: Helvetica Neue;
}

@media (max-width: 1200px) {
  .cart_content {
    flex-direction: column;
  }
  .product_content_in_cart {
    width: 100%;
  }
  .line_in_cart {
    width: 100%;
  }
  .description_to_order_cart {
    width: 100%;
  }
  .line_order_block {
    width: 100%;
  }
  .checkout_block {
    width: 100%;
  }
  .go_to_checkout {
    width: 100%;
  }
  .delete_button_in_cart {
    width: 13%;
  }
  .product_name_in_cart {
    font-size: 16px;
  }
}

@media (max-width: 780px) {
  .delete_button_in_cart {
    width: 18%;
  }
  .size_label {
    font-size: 12px;
  }
}

@media (max-width: 659px) {
  .product_name_in_cart {
    font-size: 12px;
  }
}

@media (max-width: 610px) {
  .product_name_in_cart {
    font-size: 14px;
  }
  .button_and_size_block {
    width: 25%;
  }
  .container_sizes_block {
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 570px) {
  .product_name_in_cart {
    font-size: 12px;
  }
  .delete_button_in_cart {
    width: 24%;
  }
  .title_post {
    font-size: 13px;
  }
}
