.catalog_wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  cursor: default;
}

.title_naming_of_route {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: Helvetica;
  cursor: default;
  height: auto;
}

.text_blok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.title_page {
  font-size: 74px;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: 700;
}

.title_sorting {
  font-size: 16px;
  font-family: Helvetica;
  cursor: pointer;
}

.selected_sorting_categories {
  display: flex;
  align-items: center;
  height: 50px;
}

.content_blok {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content_sorting {
  width: 24%;
}

.content_product {
  width: 75%;
}

.select_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.button_select {
  border: 1px solid rgb(136, 136, 136);
  font-family: Helvetica;
  font-size: 16px;
  text-transform: uppercase;
  width: 40%;
  height: 40px;
  cursor: pointer;
}

.button_select_active {
  border: 1px solid rgb(45, 45, 45);
  font-family: Helvetica;
  font-size: 16px;
  text-transform: uppercase;
  width: 40%;
  height: 40px;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.button_setup_filters {
  display: none;
}

.openSortingMenu {
  width: 261px;
  height: auto;
  background: #000;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2%;
  border-radius: 10px;
  padding: 20px;
}

.list_of_sorting_bar {
  margin-top: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  color: rgb(152, 152, 152);
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  height: auto;
  overflow: hidden;
}

.list_of_sorting_bar:hover {
  color: white;
}
.succes_selected {
  margin-right: 7px;
}

.list_of_sorting_bar_selected {
  margin-top: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  height: auto;
  overflow: hidden;
}

.list_of_sorting_bar_selected:hover {
  color: rgb(152, 152, 152);
}

@media (max-width: 1250px) {
  .latest_arrivals_block {
    display: none;
  }
}

@media (max-width: 1012px) {
  .catalog_wrapper {
    padding: 10px;
  }
  .latest_arrivals_block {
    display: flex;
  }
  .content_blok {
    display: block;
  }
  .content_product {
    width: 100%;
  }
  .content_sorting {
    display: none;
  }
  .title_naming_of_route {
    display: none;
  }
  .title_sorting {
    display: none;
  }
  .text_blok {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button_setup_filters {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid black;
    height: 43px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .setting_setup_picture {
    align-items: center;
    margin-right: 10px;
  }
  .selected_sorting_categories {
    order: 0;
  }
  .select_block {
    width: 100%;
    margin-top: 24px;
  }

  .button_select {
    border: 1px solid rgb(255, 255, 255);
    color: white;
  }
  .button_select_active {
    border: 1px solid rgb(45, 45, 45);
    background-color: rgb(255, 255, 255);
  }
}
