.cookies_wrapper {
  width: 498px;
  height: 230px;
  background: #000;
  position: absolute;
  z-index: 100;
  padding: 24px;
  top: 70%;
  left: 3%;
  border-radius: 10px;
}

.cookies_header_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookies_title {
  color: white;
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  height: auto;
  overflow: hidden;
}

.cookies_body {
  margin-top: 20px;
}

.cookie_text {
  font-family: Helvetica Neue;
  color: gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  height: auto;
  overflow: hidden;
}

.cookies_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 32px;
}

.setup_cookies {
  width: 159px;
  height: 42px;
  color: gray;
  text-transform: uppercase;
  font-family: Helvetica Neue;
  cursor: pointer;
}

.accept_cookies {
  width: 159px;
  height: 42px;
  color: black;
  text-transform: uppercase;
  font-family: Helvetica Neue;
  cursor: pointer;
  background: white;
}
