.wrapper_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 23px;
}

.second_part {
  display: flex;
  margin-right: 60px;
}

.translate_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
}

.menu_title {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  cursor: pointer;
}

.cart_title {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
}

.translate_title {
  font-family: Helvetica Neue;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .coma_small_logo {
    margin-left: 16px;
    order: -1;
    margin-right: 16px;
  }
  .translate_wrapper {
    display: none;
  }
  .menu_title {
    margin: 0;
  }
  .cart_title {
    margin-right: 16px;
  }
}

@media (max-width: 500px) {
  .wrapper_header {
    padding-left: 20px;
  }
  .cart_title {
    margin-right: 0;
  }
}
