.input-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.textarea-container {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.input-label {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.textarea-label {
  font-family: Helvetica Neue;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-field {
  width: 96%;
  height: 28px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.textarea-field {
  width: 96%;
  height: 54px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 640px) {
  .textarea-field {
    width: 90%;
  }
  .input-field {
    width: 90%;
  }
}
