.burgermenu_bar {
  background: black;
  margin-top: 20px;
  width: 266px;
  height: 300px;
  padding: 24px;
  position: absolute;
  top: 0;
  margin-left: 12px;
  border-radius: 10px;
  display: none;
  overflow: hidden;
  z-index: 999;
  font-family: Helvetica;
}

.title_cart {
  text-transform: uppercase;
  color: grey;
  font-size: 18px;
}

.header_burger_menu {
  display: flex;
  justify-content: space-between;
}
.close_menu {
  cursor: pointer;
}

.koma_logo_white {
  display: none;
  position: absolute;
  left: 50%;
}

.title_burger {
  color: white;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 18px;
}

.list {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  margin-top: 14px;
  font-weight: 200;
}

.list_item {
  cursor: pointer;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 18px;
}

.link_href {
  color: white;
}

/*  menubar cart */

.wrapper_buregercart {
  width: 390px;
  height: auto;
  background-color: black;
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  padding: 24px;
  margin-top: 14px;
  margin-right: 10px;
  border-radius: 10px;
  display: none;
  z-index: 9999;
  overflow: hidden;
  font-family: Helvetica;
}
.picture_prod_in_cart {
  object-fit: contain;
}

.burgercart_header {
  display: flex;
  justify-content: space-between;
  font-weight: 100;
  color: white;
}

.close_block {
  cursor: pointer;
}

.product_block {
  display: flex;
  margin-top: 16px;
}
.first_block {
  color: white;
  margin-left: 10px;
  width: 52%;
}

.name_of_product {
  font-size: 13px;
  font-weight: 300;
  width: 90%;
}

.product_size {
  margin-top: 12px;
  margin-left: 2px;
  font-size: 13px;
  font-weight: 200;
  color: grey;
  margin-right: 5px;
  margin-left: 5px;
}

.button_block {
  display: flex;
  width: 40px;
  margin-top: 8px;
}

.button_plus {
  color: gray;
  margin-right: 8px;
  cursor: pointer;
}

.button_minus {
  margin-left: 8px;
  color: gray;
  cursor: pointer;
}

.button_delete_product {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  opacity: 40%;
}

.product_anmout {
  color: white;
  font-size: 12px;
  width: 100%;
}

.second_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 14px;
}

.product_anmout {
  margin-bottom: 8px;
}

.payment_block {
  margin-top: 25px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.left_part {
  flex-direction: column;
}

.title_total {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 69px;
}

.expression_shipping {
  color: gray;
  font-size: 10px;
}

.amount_price {
  font-size: 14px;
  font-weight: 300;
}

.checkout_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-weight: 300;
}

.button_checkout {
  width: 100%;
  height: 35px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
}

.koma_logo_white_cart {
  position: absolute;
  left: 50%;
  display: none;
}

.arrow_in_button_submit {
  margin-left: 10px;
}

/* FilterToggle */
.filtertoggle_wrapper {
  background: #000;
  width: 100%;
  height: auto;
}
.filtertoggle_underwrapper {
  padding: 20px;
  border: 1px solid white;
}

.setup_settings {
  margin-right: 10px;
}

.button_hide_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  width: 100%;
  height: 43px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.block_with_sizes {
  margin-top: 42px;
  display: flex;
  align-items: center;
  width: auto;
}

@media (max-width: 500px) {
  .second_block {
    margin-left: 8px;
  }

  .payment_block {
    width: 94%;
  }

  section.button_block {
    width: 40px;
    margin-top: 16px;
  }
  .wrapper_buregercart {
    position: absolute;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: -4px;
    width: 100%;
    border-radius: 0;
    height: auto;
  }
  .second_block {
    margin-left: 0;
  }
  .burgercart_block {
    padding: 20px;
    align-items: center;
  }
  .product_anmout {
    font-size: 11px;
  }
  .koma_logo_white_cart {
    display: flex;
    width: 15px;
    height: 25px;
  }
}
@media (max-width: 400px) {
  .product_size {
    font-size: 11px;
    margin-left: 2px;
    margin-right: 2px;
  }
}

@media (max-width: 500px) {
  .burgermenu_bar {
    border-radius: 0;
    position: absolute;
    margin-top: -4px;
    margin-left: 0;
    width: 92%;
    height: 340px;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  .koma_logo_white {
    display: flex;
    justify-content: center;
    align-items: center;
    order: -1;
    width: 15px;
    height: 25px;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .list_item {
    margin-top: 14px;
  }

  .title_burger {
    order: -1;
  }
}

@media (max-width: 440px) {
  .name_of_product {
    font-size: 11px;
  }
  .product_anmout {
    width: 100%;
    font-size: 10px;
  }
  .first_block {
    width: 47%;
    margin-left: 0;
  }
  .product_block {
    justify-content: space-between;
  }
}
@media (max-width: 350px) {
  .first_block {
    width: 39%;
  }
  .name_of_product {
    font-size: 9px;
  }
  .button_delete_product {
    font-size: 12px;
  }
}
