.sort_block {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.title_sort {
  font-family: "PixelBit";
  font-size: 24px;
  text-transform: uppercase;
  cursor: default;
}

.sorting_but {
  border: 1px solid rgb(163, 163, 163);
  margin: 5px 5px 0 0;
  height: 38px;
  padding: 10px;
  font-family: "PixelBit";
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  text-transform: uppercase;
}

.selected {
  border: 1px solid rgb(45, 45, 45);
  margin: 5px 5px 0 0;
  height: 38px;
  padding: 10px;
  font-family: "PixelBit";
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  text-transform: uppercase;
}

/* SortingNavBar */

.block_bar {
  display: flex;
  flex-wrap: wrap;
}
.under_bar_block {
  display: flex;
}
.button_selected_bar {
  display: flex;
  text-align: center;
  font-family: "PixelBit";
  font-size: 22px;
  margin-left: 8px;
  cursor: pointer;
}
.cross_black {
  margin-left: 4px;
  margin-top: 4px;
}

.button_delete_all {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PixelBit";
  font-size: 22px;
  margin-left: 8px;
  cursor: pointer;
}

.button_delete_cross {
  margin-left: 4px;
  margin-top: 1px;
}

.toggle_button {
  margin-top: 10px;
  font-family: "PixelBit";
  font-size: 20px;
  cursor: pointer;
}
