* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}
a {
  color: white;
}
@font-face {
  font-family: "PixelBit";
  src: url("../app/fonts/ppneuebit.woff") format("woff"),
    url("../app/fonts/ppneuebit-webfont.woff2") format("woff2");
}

.body_underwrapper {
  overflow: hidden;
}

.koma_logo_home {
  margin-top: 27px;
}

.catalogchanger_wrapper {
  margin-top: 75px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.button_changer {
  font-family: Helvetica;
  font-size: 20px;
  cursor: pointer;
}

.catalog_underwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  width: 20%;
}

.block_with_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_show_catalog {
  margin-top: 25px;
  width: 185px;
  height: 35px;
  border: 2px solid black;
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 16px;
  cursor: pointer;
}

.koma_logo_mobile {
  display: none;
}

@media (max-width: 700px) {
  .koma_logo_home {
    display: none;
  }
  .koma_logo_mobile {
    display: block;
    margin-top: 20px;
    width: 600px;
    height: 260px;
    margin-left: 20px;
    object-fit: contain;
  }
  .catalog_underwrapper {
    width: 80%;
    margin-right: 0;
  }
  .button_block {
    width: 90%;
  }
  .button_show_catalog {
    margin-right: 0px;
    margin-top: 10px;
    width: 100%;
  }
  .block_with_button {
    width: 90%;
  }
  .catalogchanger_wrapper {
    margin-top: 50px;
  }
}

@media (max-width: 622px) {
  .koma_logo_mobile {
    object-fit: contain;
    width: 450px;
    height: 200px;
    margin-left: 35px;
  }
}

@media (max-width: 500px) {
  .koma_logo_mobile {
    width: 400px;
    height: 150px;
  }
}

@media (max-width: 446px) {
  .koma_logo_mobile {
    width: 340px;
    height: 180px;
    object-fit: contain;
  }
}

@media (max-width: 400px) {
  .koma_logo_mobile {
    width: 340px;
    height: 180px;
    object-fit: contain;
    margin-left: 15px;
  }
}
