* {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: "ppneuebit";
  src: url("/app/fonts/ppneuebit.woff") format("woff"),
    url("/app/fonts/ppneuebit.woff2") format("woff2");
}
